* {
    padding: 0;
    margin: 0;
}

body {
    width: 1500px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 200px 0 200px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

header h1 {
    color: gray;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    gap: 15px;
    margin-left: 200px;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-right: 200px;
    min-width: 340px;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
}

main > div,
aside > * {
    border: 1px solid gray;
}

.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 46px;
    position: relative;
    /* margin-left: 203px; */
}

.searchbar-container h1 {
    position: absolute;
    left: -80px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-left: 70px; */
}

.searchbar input[type="text"] {
    width: 500px;
    height: 30px;
}

.searchbar input[type="submit"] {
    width: 50px;
    height: 32px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.article1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: start;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    gap: 10px;
}

.article1 img {
    width: 130px;
    border-radius: 3%;
}

.article1 .text {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 7px;
    flex: 1;
}

.article1 .company {
    font-size: 12px;
}

.article1 .title {
    width: 198px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article1 .date {
    font-size: 12px;
}

.main-1 {
    display: flex;
    flex-direction: row;
    height: 220px;
    align-items: stretch;
    padding: 10px;
}

.main-1 > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.article2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: stretch;
    text-align: start;
    border: 1px solid gray;
    gap: 5px;
}

.article2 img {
    width: 220px;
    margin: 0 auto;
}

.article2 .title {
    font-size: 14px;
    padding: 0 10px;
}

.article2 .company {
    font-size: 13px;
    padding: 0 10px;
    color: gray;
}

.main-2-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 220px;
    padding: 10px;
}

.main-2-2 {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: stretch;
    padding: 10px;
}

.main-2-2 * {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 80px;
    gap: 15px;
}

.login-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.login-main input[type="submit"] {
    display: flex;
    width: 50px;
    height: 55px;
}

.login-input > * {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.login-input div span {
    flex: 1;
    text-align: start;
    width: 20px;
}

.login-more {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
    color: gray;
}

.weather,
.stockMarket,
.calander {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: gray;
    padding: 30px 0;
}
