* {
    padding: 0;
    margin: 0;
}

body {
    width: 1500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 200px 0 200px;
    font-size: 14px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

header h1 {
    color: #03c75a;
    font-size: 35px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    gap: 15px;
    margin-left: 200px;
}

/* ====================== */
/* 이미지 호버 애니메이션 */
main img {
    display: block;
    transition: transform 0.2s ease;
}

.article1:hover img,
.article2:hover img {
    transform: scale(1.1);
}

.image {
    overflow: hidden;
}
/* ====================== */

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-right: 200px;
    min-width: 340px;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

main > div,
aside > div {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}

.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 46px;
    position: relative;
}

.searchbar-container h1 {
    position: absolute;
    left: -70px;
    top: -5.5px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar input[type="text"] {
    width: 450px;
    height: 30px;
    padding-left: 10px;

    border: 2px solid #03c75a;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: none;
    outline: none;
}

.searchbar input[type="submit"] {
    width: 50px;
    height: 34px;
    border-left: none;
    border-style: solid;
    border-color: #03c75a;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    color: white;
    background-color: #03c75a;
}

.searchbar input[type="submit"]:hover {
    cursor: pointer;
    background-color: #00b451;
    border-color: #00b451;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.main-1,
.main-2-2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
}

.main-1 > div,
.main-2-2 > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

/* 제목 오버플로우시 줄임표 설정 */
main .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    display: box;
    box-orient: vertical;
    line-clamp: 2;
}

.article1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 5px;
}

.article1 img,
.article1 .image {
    width: 130px;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.article1 .text {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 7px;
    flex: 1;
}

.article1 .company {
    font-size: 12px;
    color: gray;
}

.article1 .title {
    font-size: 14px;
}

.article1 .date {
    font-size: 12px;
    color: gray;
}

.article2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: stretch;
    text-align: start;
    gap: 5px;
}

.article2 img,
.article2 .image {
    width: 220px;
    margin: 0 auto;
    border-radius: 5px;
}

.article2 .title {
    font-size: 14px;
    padding: 0 10px;
}

.article2 .company {
    font-size: 13px;
    padding: 0 10px;
    color: gray;
}

.main-2-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-top {
    font-size: 13px;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 45px;
    font-size: 13px;
    color: white;
    background-color: #03c75a;
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 5px;
}

.login-button:hover {
    cursor: pointer;
    background-color: #00b451;
}

.login-button > b {
    font-size: 16px;
}

.login-more {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
    color: gray;
}

.login-more > div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.weather,
.stockMarket,
.calander {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}

footer .information a {
    font-size: 15px;
    color: gray;
}
